*{
    padding: 0;
    margin: 0;
}
    
@font-face{
    font-family: Rubik;
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face{
    font-family:Rubik-Medium;
    src: url(../fonts/Rubik-Medium.ttf)
}
.container{
    width: 1180px;
    height: 100vh;
    /* background-color: cadetblue;*/
    margin:0 auto;
}
.header{
    height: 40px;
    /* background-color: burlywood; */
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo-img{
    margin-right: 11.88
}
.header_logo-p{
    color: #333333;
    font-size: 20px;
    font-family: Rubik-Medium;
    font-weight: 500;
    margin-left: 10px;
}
.header_search{
    width: 320px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 16px;
    font-family: Rubik-Medium;
    color:#333;
    margin-right: 32px;
}
.header_search:focus{
    outline: none;
}
.header_search:placeholder{
    color: #828282;
    font-size: 16px;
    font-family: Rubik;
    font-weight: 400;

}
.header_search-btn{
    border: none;
    background: none;
    color: #E5261E;
    font-size: 16px;
    font-family: Rubik-Medium;

}
.header_login{
    width:113px;
    height: 38px;
    border: none;
    background-color: #E5261E;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: Rubik-Medium;
}
.a1{
    text-decoration: none;
    color: red;
    font-family: Rubik-Medium;
    font-size: 28px;
    font-weight: 500;
    border-bottom: 2px solid red;
    height: 9px;
}
.a2{
    text-decoration: none;
    color: black;
    font-family: Rubik-Medium;
    font-size: 28px;
    font-weight: 500;
    margin-left: 24px;
}
.li{
    list-style-type: none;
}
.nav{
    display: flex;
    justify-content: center;
}
.ul{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}
.line{
    width: 116px;
    height: 2px;
    display: flex;
    align-self: end;
    justify-self: center;
    margin-top: 74px;
}
.name{
    margin-top: 32px;
    font-family: Rubik-Medium;
    font-size: 24px;
    font-weight: 500;
}

.film2{
    display: flex;
    width: 280px;
    height: 434px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
}
.films{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image1{
    border-radius: 8px;
}

.hidden{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: white;
    background-image: url(../img/image1.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 280px;
    height: 434px;
}
.hidden1{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: white;
    background-image: url(../img/image2.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 280px;
    height: 370px;

}
.hidden2{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: white;
    background-image: url(../img/image3.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 280px;
    height: 370px;
}
.hidden3{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: white;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 280px;
    height: 370px;

}
.text{
    display: none;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    width: 249px;
    height: 354px;
    border-radius: 8px;
}
.films :hover .text{
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
}
.genres{
    width: 1180px;
    height: 252px;
    display: flex;
    justify-content: space-between;
}
.background1{
    margin-top: 16px;
    width: 280px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    background: linear-gradient(128deg, #F2C94C 8.44%, #F29A4A 91.36%);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
    opacity: 0.8;}
.background2{
    margin-top: 16px;
    width: 280px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    background: linear-gradient(128deg, #F2994A 8.44%, #EB5757 91.36%);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
    opacity: 0.8;}
.background3{
    margin-top: 16px;
    width: 280px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    background: linear-gradient(128deg, #56CCF2 8.44%, #2F80ED 91.36%);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
    opacity: 0.8;}
.background4{
    margin-top: 16px;
    width: 280px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    background: linear-gradient(128deg, #828282 8.44%, #333 91.36%);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
    opacity: 0.8;
}
.genre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 30px;
}
.genre_name{
    color: white;
    margin-top: 10px;
}

.genres :hover {
    opacity: 1;
}
footer{
    width: 1440px;
    height: 120px;
    margin-left: -130px;
    background-color: #F2F2F2;
}
.footer{
    display: flex;
    flex-direction: row;
    margin-left: 130px;
    padding-top: 22px;
    align-items: center;
}
.footer_text{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    margin-left: 40px;
}
.site{
    color: #1F4766;
    font-family: Rubik-Medium;
    font-size: 16px;
    font-weight: 500;
}
.emodji{
    width: 48px;
    height: 48px;
}
.footer_logo{
    width: 32px;
    height: 64px;
}
form a{
    text-decoration: none;
}

@media  screen and (max-width: 400px) {
    .container{
        width: 380px;
        height: 100vh;
        margin:0 auto;}
    .header{
        width: 380px;
        height: 25px;
        margin-top: 16px;
        display: flex;
    justify-content: space-between;
    align-items:center;}
    .header_search-btn{
        border: none;
        background: none;
        color: #E5261E;
        font-size: 8px;
        font-family: Rubik-Medium;}
        .header_login{
            width:50px;
            height: 19px;
            border: none;
            background-color: #E5261E;
            border-radius: 2px;
            color: white;
            font-size: 8px;
            font-family: Rubik-Medium;}
            .header_search{
                margin-left: 10px;
                width: 100px;
                height: 15px;
                border: none;
                border-bottom: 0.5px solid #333;
                font-size: 8px;
                font-family: Rubik-Medium;
                color:#333;
                margin-right: 1px;}
                .header_logo-p{
                    color: #333333;
                    font-size: 8px;
                    font-family: Rubik-Medium;
                    font-weight: 500;
                    margin-left: 1px;
                }
                .header_logo-img{
                    height: 15px;
                    width: 15px;
                }
                .a1{
                    text-decoration: none;
                    color: red;
                    font-family: Rubik-Medium;
                    font-size: 14px;
                    font-weight: 500;
                    border-bottom: 2px solid red;
                    height: 9px;
                }
                .a2{
                    text-decoration: none;
                    color: black;
                    font-family: Rubik-Medium;
                    font-size: 14px;
                    font-weight: 500;
                    margin-left: 12px;
                }
                .name{
                    margin-top: 16px;
                    font-family: Rubik-Medium;
                    font-size: 12px;
                    font-weight: 500;
                }
                .film2{
                    display: flex;
                    width: 90px;
                    height: 202px;
                    padding-bottom: 0px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    flex-shrink: 0;
                    font-family: Rubik;
                    font-size: 10px;
                    font-weight: 400;
                    margin-top: 8px;
                }
                .hidden{
                    font-family: Rubik;
                    font-size: 8px;
                    font-weight: 400;
                    line-height: 120%;
                    color: white;
                    background-image: url(../img/image1.jpg);
                    background-repeat: no-repeat;
                    border-radius: 8px;
                    width: 90px;
                    height: 152px;
                }
                .hidden1{
                    font-family: Rubik;
                    font-size: 8px;
                    font-weight: 400;
                    line-height: 120%;
                    color: white;
                    background-image: url(../img/image2.jpg);
                    background-repeat: no-repeat;
                    border-radius: 8px;
                    width: 90px;
                    height: 150px;
                
                }
                .hidden2{
                    font-family: Rubik;
                    font-size: 8px;
                    font-weight: 400;
                    line-height: 120%;
                    color: white;
                    background-image: url(../img/image3.jpg);
                    background-repeat: no-repeat;
                    border-radius: 8px;
                    width: 90px;
                    height: 150px;
                }
                .hidden3{
                    font-family: Rubik;
                    font-size: 8px;
                    font-weight: 400;
                    line-height: 120%;
                    color: white;
                    background-image: url(../img/image.jpg);
                    background-repeat: no-repeat;
                    border-radius: 8px;
                    width: 90px;
                    height: 150px;
                
                }
                .text{
                    display: none;
                    padding-left: 8px;
                    padding-top: 8px;
                    padding-right: 8px;
                    width: 74px;
                    height: 142px;
                    border-radius: 8px;
                }
                .genres{
                    width: 380px;
                    height: 252px;
                    display: flex;
                    justify-content: space-between;
                }
                .background1{
                    margin-top: 8px;
                    width: 90px;
                    height: 90px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    font-family: Rubik;
                    font-size: 10px;
                    font-weight: 400;
                    border-radius: 6px;
                    background: linear-gradient(128deg, #F2C94C 8.44%, #F29A4A 91.36%);
                    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
                    opacity: 0.8;}
                    .background2{
                        margin-top: 8px;
                    width: 90px;
                    height: 90px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        font-family: Rubik;
                        font-size: 10px;
                        font-weight: 400;
                        border-radius: 6px;
                        background: linear-gradient(128deg, #F2994A 8.44%, #EB5757 91.36%);
                        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
                        opacity: 0.8;}
                    .background3{
                        margin-top: 8px;
                    width: 90px;
                    height: 90px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        font-family: Rubik;
                        font-size: 10px;
                        font-weight: 400;
                        border-radius: 6px;
                        background: linear-gradient(128deg, #56CCF2 8.44%, #2F80ED 91.36%);
                        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
                        opacity: 0.8;}
                    .background4{
                        margin-top: 8px;
                    width: 90px;
                    height: 90px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        font-family: Rubik;
                        font-size: 10px;
                        font-weight: 400;
                        border-radius: 6px;
                        background: linear-gradient(128deg, #828282 8.44%, #333 91.36%);
                        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
                        opacity: 0.8;
                    }
                    .genre{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: end;
                        margin-top: 15px;
                    }
                    .emodji{
                        width: 24px;
                        height: 24px;
                    }
                    footer{
                        width: 520px;
                        height: 60px;
                        background-color: #F2F2F2;
                    }
                    .footer{
                        display: flex;
                        flex-direction: row;
                        padding-top: 11px;
                        align-items: center;
                    }
                    .footer_text{
                        font-family: Rubik;
                        font-size: 8px;
                        font-weight: 400;
                        margin-left: 20px;
                    }
                    .site{
                        color: #1F4766;
                        font-family: Rubik-Medium;
                        font-size: 8px;
                        font-weight: 500;
                    }
                    .footer_logo{
                        width: 16px;
                        height: 32px;
                    }
    }